body {
  background-color: lavender;
}

.calendar {
  margin: auto;
  max-width: 1600px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.day {
  display: flex;
  flex-direction: column;
  flex-basis: 14%;
  background-color: white;
}

.event {
  border: 1px solid;
  padding: 0.3em;
  flex-basis: 0em;
}

.eventDescription {
  font-weight: bold;
}

.datestamp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 140%;
  background-color: rgba(175, 157, 214, 0.52);
  padding: 0.2em;
  text-align: center;
}

.timestamp {
  background-color: rgba(173, 216, 230, 0.472);
}

.title {
  display: flex;
  justify-content: center;
}
